* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    min-width: 0;
}

h1 a{
    text-decoration: none;
    color: #ffffff;
}

.main{

}


.menus{
    display: flex;
    padding: 10px;
    text-decoration: none;
    align-items: center ;
    font-size: 1.2rem;
    color: #ffffff;
}

.animear{
    display: grid;  

    grid-template-areas: 
    "test 1"
    "test 2"
    "test 3";
    grid-template-rows: 50vh 30vh; 
    grid-template-columns: 33% 33% 33%;
    column-gap: 1%;
    row-gap: 1%;
}

.animear article{
    overflow: hidden;
    position: relative;
}

.animear img{
    width: 100%;
    height: 100%;
}


.animear .st{
    position: absolute;
    font-size: 2rem;
    text-shadow:rgba(0, 0, 0, 0.8) 0 0 8px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    padding-left: 0.5rem;
    top: 10%;
}
.animear .dc{
    position: absolute;
    font-size: 1rem;
    text-shadow:rgba(0, 0, 0, 0.8) 0 0 8px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    top: 15%;
    padding-left: 0.5rem;

}

.animear .cardmain{
    grid-column: 1/4 ;
}

.mangaar{
    row-gap: 2rem;

}

.mangaar article{
    overflow: hidden;
    position: relative;
}

.mangaar img{
    width: 100%;
    height: 100%;
}

.mangaar .st{
    position: absolute;
    font-size: 2rem;
    text-shadow:rgba(0, 0, 0, 0.8) 0 0 8px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    padding-left: 0.5rem;
    top: 10%;
    
}
.mangaar .dc{
    position: absolute;
    font-size: 1rem;
    text-shadow:rgba(0, 0, 0, 0.8) 0 0 8px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    top: 15%;
    padding-left: 0.5rem;

}

.resenasar{
    display: grid;  
    grid-template-rows: 25vh; 
    grid-template-columns: 1.5fr 1fr 1fr;
    column-gap: 1%;
 
}

.resenasar article{
    overflow: hidden;
    position: relative;
}

.resenasar img{
    width: 100%;
    height: 100%;
}

.resenasar .st{
    position: absolute;
    font-size: 2rem;
    text-shadow:rgba(0, 0, 0, 0.8) 0 0 8px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    padding-left: 0.5rem;
    top: 10%;
    
}
.resenasar .dc{
    position: absolute;
    font-size: 2rem;
    text-shadow:rgba(0, 0, 0, 0.8) 0 0 8px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    top: 25%;
    padding-left: 0.5rem;
}

.mercanciaar{
    display: grid;  
    grid-template-rows: 25vh; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1%;
 
}

.mercanciaar article{
    overflow: hidden;
    position: relative;
}

.mercanciaar img{
    width: 100%;
    height: 100%;
}

.mercanciaar .st{
    position: absolute;
    font-size: 2rem;
    text-shadow:rgba(0, 0, 0, 0.8) 0 0 8px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    padding-left: 0.5rem;
    
}
.mercanciaar .dc{
    position: absolute;
    font-size: 2rem;
    text-shadow:rgba(0, 0, 0, 0.8) 0 0 8px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    top: 15%;
    padding-left: 0.5rem;
}


/* .section--me{
    display: grid;
    grid-template-rows: 20vh 20vh;
    grid-template-columns: 10vw 10vw 10vw;
    width: 100%;
    column-gap: 1%;
    row-gap: 10%;
} */

.arme{
    position: relative;
    width: 200px;
    display: inline-block;
    padding-left: 10px;
}

.arme img{
    width: 100%;
    height: 100%;
}

.arme .tt{
    font-size: 1rem;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    padding-left: 0.1rem;
    display: block;
    padding-top: 1%;
    padding-bottom: 1%;
}
.arme .dc{
    font-size: 1rem;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    padding-left: 0.1rem;
    padding-bottom: 1%;
}



.section--anime .ar{
    margin-left: 3rem;
}

.ar{
    overflow: hidden;
    position: relative;
    border: solid 5px #13181F;
    width: 15vw;
    height: 15vh;
    display: inline-block;
    margin-top: 1rem;
}

.ar .st {
    font-size: 1.5rem;
    position: absolute;
    left: 51.5%;
    top: 35%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: #ffffff ;
    font-weight: 700;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    width: 100%;
}

.ar .dt{
    top: 91%;
    left: 21%;
    position:absolute;
    font-size: 1.4rem;
    transform: translate(-45%, -50%);
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    font-weight: 700;
    
}

.ar img{
    width: 100%;
    height: 100%;

}

.im:before {
    top: auto;
    bottom: 0;
    height: 50%;
    background: linear-gradient(rgba(0,0,0,0) 0,#000 100%);
    opacity: .8;
    z-index: 2;
    transition: .3s;
}

.menus:hover{
    color: #f5118b;
}

.img--article{
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;
}

.buttonbuy{
margin-left: 1rem;
display: flex;
font-size: 1.5rem;

}

.img{
    width: 800px;
}    

.img--section{
    width: 246px;
    height: 200px;
    aspect-ratio: auto 1280 / 720;
    display: block;
    box-sizing: content-box;
}



.contacto{
    font-size: 2rem;
}

.contacto__opcion{
    font-size: 1.3rem;
}

.an{
    font-size: 3rem;
    padding-left: 5%;
}

.article--gen .tt{
    font-size: 3rem;
    padding-top: 1%;
    padding-bottom: 1%;

}

.article--gen .dc{
    font-size: 2.3rem;

    padding-bottom: 1%;
}

.article--gen .img{
    width: 70%;
    height: 50%;

}

.article--gen .pt{
    width:50% ;
    height: 50%;
}

img{
    max-width: 100%;
}

body {
    margin: 0;
    align-items: center;
    height: 70px;
    line-height: 1;
    font-family: Roboto, sans-serif;
}

main{
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    min-height: calc(100vh - 70px - 15vh);
}

ul{
    display: flex;
}

header{
    display: flex;
    min-height: 70px;
    background-color:#13181F;        
    justify-content: space-between;
    padding: 10px 40px;
    align-items: center;
    color: #ffffff;
    font-size: 1.5rem;
    
}

.titulo{
    font-size: 2.5rem;
    padding-top: 30px;
    text-decoration: none;
    padding-top: 50px;
}



.date{
    font-size: 1.3rem;
    padding-top: 1rem;
    display: block;
    text-decoration: none;
    color: #13181F;
}

.price{
    display: block;
    text-decoration: none;
    font-size: 1.3rem;
    color: #13181F;
}

.price:hover{
    color:#512BB8;
}

.date:hover{
    color:#512BB8;

}

nav a{
    color: #ffffff ;
    text-decoration: none;
}
nav a:hover{
    color: #f5118b;
}


footer{
    background-color: #13181F;
    color: #ffffff;
    margin: 0;
    min-height: 15vh;
}

.toggle-menu{
    position: absolute;
    width: 40px;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    filter: invert(1);
    width: 40px;
}



@media (max-width:700px){
    header{
        margin: 0;
        font-size: 1rem;
    }

    .principal{
        padding-left: -10rem;
    }

    nav{
        margin-left: 3rem;

    }

    h1{
        font-size: 1.3rem;
    }

    .article--gen{
        font-size: 3rem;
        padding-left: 5%;
    }
    
    .article--gen .tt{
        font-size: 2rem;
        padding-top: 10%;
        padding-bottom: 10%;
    
    }
    
    .article--gen .dc{
        font-size: 1.3rem;
    
        padding-bottom: 5%;
    }
    
    .article--gen .img{
        width: 70%;
        height: 50%;
    
    }
    
    .article--gen .pt{
        width:50% ;
        height: 50%;
    }

    .animear{
        display: grid;  
        grid-template-rows: 30vh; 
        grid-template-columns: 33% 33% 33%;
        column-gap: 1%;
        row-gap: 1%;
    }
    
    .animear article{
        overflow: hidden;
        position: relative;
    }
    
    .animear img{
        width: 100%;
        height: 100%;
    }
     
    
    


    .animear .cardbody{
        display: none;
    }
    
    .animear .st{
        position: absolute;
        font-size: 1rem;
        text-shadow:rgba(0, 0, 0, 0.8) 0 0 8px;
        font-weight: 700;
        color: #ffffff;
        text-decoration: none;
        padding-left: 0.5rem;
        
    }
    .animear .dc{
        position: absolute;
        font-size: 1rem;
        text-shadow:rgba(0, 0, 0, 0.8) 0 0 8px;
        font-weight: 700;
        color: #ffffff;
        text-decoration: none;
        top: 15%;
        padding-left: 0.5rem;
        display: none;
    }
    
    .mangaar{
        display: grid;  
        grid-template-rows: 30vh 30vh; 
        grid-template-columns: 100%;
    }
    
    .mangaar .col-3{
        width: 100%;
    }

    .mangaar .cardbody{
        display: none;
    }

    .mangaar .cardfooter{
        display: none;
    }

    .mangaar article{
        overflow: hidden;
        position: relative;
    }
    
    .mangaar img{
        width: 100%;
        height: 100%;
    }
    
    .mangaar .st{
        position: absolute;
        font-size: 1rem;
        text-shadow:rgba(0, 0, 0, 0.8) 0 0 8px;
        font-weight: 700;
        color: #ffffff;
        text-decoration: none;
        padding-left: 0.5rem;
        
    }
    .mangaar .dc{
        position: absolute;
        font-size: 1rem;
        text-shadow:rgba(0, 0, 0, 0.8) 0 0 8px;
        font-weight: 700;
        color: #ffffff;
        text-decoration: none;
        top: 15%;
        padding-left: 0.5rem;
        display: none;
    
    }
    
    .mangaar .card{
        grid-column: 1/5;
    }


    .resenasar{
        display: grid;  
        grid-template-rows: 30vh 30vh; 
        grid-template-columns: 100%;
     
    }
    
    .resenasar article{
        overflow: hidden;
        position: relative;
    }
    
    .resenasar img{
        width: 100%;
        height: 100%;
    }
    
    .resenasar .cardbody{
        display: none;
    }

    .resenasar .cardfooter{
        display: none;
    }

    .resenasar .st{
        position: absolute;
        font-size: 1rem;
        text-shadow:rgba(0, 0, 0, 0.8) 0 0 8px;
        font-weight: 700;
        color: #ffffff;
        text-decoration: none;
        padding-left: 0.5rem;
        
    }
    .resenasar .dc{
        position: absolute;
        font-size: 1rem;
        text-shadow:rgba(0, 0, 0, 0.8) 0 0 8px;
        font-weight: 700;
        color: #ffffff;
        text-decoration: none;
        top: 15%;
        padding-left: 0.5rem;
        display: none;
    }
    
    .resenasar .cardmain{
        grid-column: 1/4;
    }

    .mercanciaar{
        display: grid;  
    
        grid-template-areas: 
        "test 1"
        "test 2"
        "test 3";
        grid-template-rows: 50% 50%; 
        grid-template-columns: 2fr 2fr;
        column-gap: 1%;
        row-gap: 1%;
    }
    
    .mercanciaar .cardmain{
        grid-column: 1/3;
    }

    .mercanciaar article{
        overflow: hidden;
        position: relative;
    }
    
    .mercanciaar img{
        width: 100%;
        height: 100%;
    }
    
    .mercanciaar .st{
        position: absolute;
        font-size: 1rem;
        text-shadow:rgba(0, 0, 0, 0.8) 0 0 8px;
        font-weight: 700;
        color: #ffffff;
        text-decoration: none;
        padding-left: 0.5rem;
        
    }
    .mercanciaar .dc{
        position: absolute;
        font-size: 1rem;
        text-shadow:rgba(0, 0, 0, 0.8) 0 0 8px;
        font-weight: 700;
        color: #ffffff;
        text-decoration: none;
        top: 15%;
        padding-left: 0.5rem;
        display: none;
    }

    .ar{
        overflow: hidden;
        position: relative;
        border: solid 5px #13181F;
        width: 90vw;
        height: 18vh;
        margin-left: 1.5rem;
        display: inline-block;
        margin-left: -1%;
    }
    
    .section--anime .ar{
        margin-left: -1%;
    }
    

    .an .img{
        width: 100%;
        height: 100%;
    }


    .ar .st {
        font-size: 1.1rem;
        position: absolute;
        text-decoration: none;
        color: #ffffff ;
        font-weight: 700;
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    }
    
    .ar .dt{
        top: 91%;
        position:absolute;
        font-size: 1.1rem;
        color: #ffffff;
        text-decoration: none;
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
        font-weight: 700;
        left: 19vw;
    }
    
    .ar img{
        width: 100%;
        height: 100%;
    
    }
    

}

@media screen and (min-width: 700px){

    
    .ar{
        overflow: hidden;
        position: relative;
        border: solid 5px #13181F;
        width: 40vw;
        height: 20vh;
        margin-left: 1rem;
        display: inline-block;
    }

    nav .menus{
        display: none;
    }

    .animear .dc{
        display: none;
    }

    .mangaar .dc{
        display: none;
    }

    .resenasar .dc{
        display: none;
    }

    .mercanciaar .dc{
        top: 30%
    }

}
    
@media screen and (min-width: 1260px){

    nav .menus{
        display: flex;
    }

    .ar{
        overflow: hidden;
        position: relative;
        border: solid 5px #13181F;
        width: 40vw;
        height: 20vh;
        margin-left: 2rem;
        display: inline-block;
    }
    
    .arme{
        width: 300px;
    }

    .arme .tt{
        font-size: 1.5rem;

    }

    .arme .dc{
        font-size: 1.5rem;
    }
    .ar .st {
        font-size: 1.5rem;
        position: absolute;
        text-decoration: none;
        color: #ffffff ;
        font-weight: 700;
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    }
    
    .ar .dt{
        position:absolute;
        font-size: 1.4rem;
        color: #ffffff;
        text-decoration: none;
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
        font-weight: 700;
        left: 6vw;
    }
    
    .ar img{
        width: 100%;
        height: 100%;
    
    }
    
}