.article--gen__titulo {
  font-size: 2.5rem;
  padding-top: 30px;
  text-decoration: none;
  color: #ffffff;
}
.article--gen__subtitulo {
  font-size: 2rem;
  padding-top: 1%;
  text-decoration: none;
  color: #ffffff;
}
.article--gen__texto {
  font-size: 1.5rem;
  padding-top: 1%;
  text-decoration: none;
  color: #ffffff;
}

.strong {
  font-weight: 700;
  font-size: 1.7rem;
}

@media (max-width: 767px) {
  .article--gen__subtitulo {
    font-size: 2rem;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .article--gen__texto {
    font-size: 1.3rem;
    padding-bottom: 5%;
  }
  .article--gen__img {
    padding-top: 1rem;
    width: 70%;
  }
  .article--gen__pt {
    width: 50%;
    padding-bottom: 1rem;
  }
}
@media (min-width: 767px) {
  .article--gen__img {
    padding-top: 1rem;
    width: 70%;
  }
  .article--gen__pt {
    width: 50%;
    padding-bottom: 1rem;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  min-width: 0;
}

body {
  margin: 0;
  align-items: center;
  height: 70px;
  line-height: 1;
  font-family: Roboto, sans-serif;
}

main {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  width: 100%;
  min-height: 1px;
  min-height: calc(100vh - 70px - 15vh);
  background-color: #13181F;
}

ul {
  display: flex;
}

header {
  display: flex;
  min-height: 70px;
  background-color: #13181F;
  justify-content: space-between;
  padding: 10px 40px;
  align-items: center;
  color: #ffffff;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

footer {
  background-color: #13181F;
  color: #ffffff;
  margin: 0;
  min-height: 15vh;
}

.contenedor-icono svg {
  display: inline-block;
  width: 50px;
  height: 80px;
  color: #B8D9D3;
  justify-content: space-between;
}

.left {
  padding-left: 0 !important;
}

.right {
  padding-right: 0 !important;
}

.img {
  width: 100%;
}

.titulo {
  font-size: 2.5rem;
  padding-top: 30px;
  text-decoration: none;
  color: #ffffff;
}

@media (max-width: 767px) {
  header {
    margin: 0;
    font-size: 1rem;
  }
  .principal {
    padding-left: -10rem;
  }
  h1 {
    font-size: 1.3rem;
  }
  .secondary {
    display: none;
  }
}
.btn {
  padding-right: 50px;
}

.navbar-nav .active a {
  color: #B8D9D3 !important;
}

.nav-link {
  color: #ffffff !important;
}

.navbar-brand {
  color: #ffffff !important;
}

.bg-nav {
  --bs-bg-opacity: 1;
  background-color: #13181F;
}

.navbar-toggler {
  color: transparent;
}

.navbar-toggler-icon {
  background-color: #B8D9D3;
  border-radius: 50%;
}

.ar {
  overflow: hidden;
  position: relative;
  border: solid 5px #13181F;
  width: 15vw;
  height: 15vh;
  display: inline-block;
  margin-top: 1rem;
}
.ar__subtitulo {
  font-size: 1.5rem;
  position: absolute;
  left: 5px;
  top: 5px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  width: 100%;
}
.ar__subtitulo:hover {
  color: #B8D9D3;
}
.ar__texto {
  left: 5px;
  position: absolute;
  font-size: 1.4rem;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  font-weight: 700;
  top: 90px;
}
.ar__texto:hover {
  color: #B8D9D3;
}
.ar img {
  width: 100%;
}

@media (max-width: 767px) {
  .article--section .col {
    flex: 0 0 auto;
    width: auto;
  }
  .ar {
    margin-bottom: -1px;
  }
  .ar__subtitulo {
    font-size: 0.8rem;
    position: absolute;
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    margin-left: 10px;
    left: 1px;
    top: 4px;
  }
  .ar__texto {
    top: 71%;
    position: absolute;
    font-size: 0.8rem;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    left: 10px;
  }
}
@media screen and (min-width: 700px) {
  .ar {
    overflow: hidden;
    position: relative;
    border: solid 5px #13181F;
    width: 40vw;
    height: 20vh;
    margin-left: 1rem;
    display: inline-block;
  }
}
@media screen and (min-width: 1260px) {
  .ar {
    overflow: hidden;
    position: relative;
    border: solid 5px #13181F;
    width: 40vw;
    height: 20vh;
    margin-left: 2rem;
  }
}
.contacto__opcion {
  font-size: 1.3rem;
  color: #ffffff;
}

.animear img {
  width: 100%;
}
.animear .container .row {
  overflow: hidden;
  position: relative;
}
.animear .container .row .secondary {
  padding-top: 2rem;
}

.caja--index {
  position: relative;
  overflow: hidden;
}
.caja--index__subtitulo {
  position: absolute;
  font-size: 1.2rem;
  text-shadow: rgba(0, 0, 0, 0.8) 0 0 8px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  top: 10px;
}
.caja--index__subtitulo:hover {
  color: #B8D9D3;
}
.caja--index__texto {
  position: absolute;
  font-size: 1.2rem;
  text-shadow: rgba(0, 0, 0, 0.8) 0 0 8px;
  text-decoration: none;
  color: #ffffff;
  top: 50px;
}
.caja--index__img {
  width: 100px;
}
.caja--index img {
  width: 100%;
  height: 100%;
}
.caja--index .container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

body {
  margin: 0;
  align-items: center;
  height: 70px;
  line-height: 1;
  font-family: Roboto, sans-serif;
}

main {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  width: 100%;
  min-height: 1px;
  min-height: calc(100vh - 70px - 15vh);
  background-color: #13181F;
}

ul {
  display: flex;
}

header {
  display: flex;
  min-height: 70px;
  background-color: #13181F;
  justify-content: space-between;
  padding: 10px 40px;
  align-items: center;
  color: #ffffff;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

footer {
  background-color: #13181F;
  color: #ffffff;
  margin: 0;
  min-height: 15vh;
}

.footer__redes {
  font-size: 3rem;
  text-align: center;
}
.footer__descripcion {
  text-align: center;
}

.contenedor-icono {
  text-align: center;
}

.contenedor-icono svg {
  display: inline-block;
  text-align: center !important;
  width: 50px;
  height: 80px;
  color: #B8D9D3;
  margin-left: 50px;
}

.left {
  padding-left: 0 !important;
}

.right {
  padding-right: 0 !important;
}

.img {
  width: 100%;
}

.titulo {
  font-size: 2.5rem;
  padding-top: 30px;
  text-decoration: none;
  color: #ffffff;
}

@media (max-width: 767px) {
  header {
    margin: 0;
    font-size: 1rem;
  }
  .principal {
    padding-left: -10rem;
  }
  h1 {
    font-size: 1.3rem;
  }
  .secondary {
    display: none;
  }
}
.btn {
  padding-right: 50px;
}

@media (max-width: 767px) {
  .animear .cardbody {
    display: none;
  }
  .animear .col-12 {
    flex: 0 0 auto;
    width: auto;
  }
  .caja--index {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .caja--index__subtitulo {
    position: absolute;
    font-size: 1rem;
    text-shadow: rgba(0, 0, 0, 0.8) 0 0 8px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    padding-left: 0.5rem;
  }
  .caja--index__texto {
    position: absolute;
    font-size: 1rem;
    text-shadow: rgba(0, 0, 0, 0.8) 0 0 8px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    top: 15%;
    padding-left: 0.5rem;
    display: none;
  }
  .mangaar .col-3 {
    width: 100%;
  }
  .resenasar .col-5 {
    flex: 0 0 auto;
    width: auto;
  }
  .resenasar .col-3 {
    flex: 0 0 auto;
    width: auto;
  }
  .mercanciaar .container {
    display: grid;
    grid-template-rows: 15%;
    overflow: hidden;
  }
  .titulo {
    padding-left: 0.5rem;
  }
}
@media screen and (max-width: 991px) {
  .caja--index__subtitulo {
    font-size: 0.9rem;
  }
  .caja--index__texto {
    display: none;
  }
  .mercanciaar .texto {
    top: 30%;
  }
}
.arme {
  position: relative;
  width: 200px;
  overflow: hidden;
}
.arme img {
  width: 100%;
}
.arme__titulo {
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  padding-left: 0.1rem;
  display: block;
  padding-top: 1%;
  padding-bottom: 1%;
}
.arme__texto {
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  padding-left: 0.1rem;
  display: block;
  padding-top: 1%;
  padding-bottom: 1%;
}

.section--me .btn {
  background-color: #B8D9D3;
  color: #000000;
}

.modal__titulo {
  font-size: 1.5rem;
  color: #000000;
}
.modal__texto {
  font-size: 1rem;
  padding-top: 10px;
  color: #000000;
}

.section--me .btn {
  margin-top: 10px;
}

/*# sourceMappingURL=style.css.map */
