.ar{
    overflow: hidden;
    position: relative;
    border: solid 5px #13181F;
    width: 15vw;
    height: 15vh;
    display: inline-block;
    margin-top: 1rem;
    &__subtitulo{
        font-size: 1.5rem;
        position: absolute;
        left: 5px;
        top: 5px;
        text-decoration: none;
        color: $accent ;
        font-weight: 700;
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
        width: 100%;
        &:hover{
            color:#B8D9D3;
        }
    }
    &__texto{
        left: 5px;
        position:absolute;
        font-size: 1.4rem;
        color: $accent;
        text-decoration: none;
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
        font-weight: 700;
        &:hover{
            color:#B8D9D3;
        }
        top: 90px;
    }
    & img{
        width: 100%;
    }
}

@media (max-width:767px){

    .article--section .col{
            flex: 0 0 auto;
            width: auto;
    }

    .ar{
        margin-bottom: -1px;
        &__subtitulo{
            font-size: 0.8rem;
            position: absolute;
            text-decoration: none;
            color: $accent ;
            text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
            margin-left: 10px;
            left: 1px;
            top: 4px;
        }
    
        &__texto{
            top: 71%;
            position:absolute;
            font-size: 0.8rem;
            color: $accent;
            text-decoration: none;
            text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
            left: 10px;
        }
    }


}

@media screen and (min-width: 700px){

    
    .ar{
        overflow: hidden;
        position: relative;
        border: solid 5px #13181F;
        width: 40vw;
        height: 20vh;
        margin-left: 1rem;
        display: inline-block;
    }

}

@media screen and (min-width: 1260px){

    .ar{
        overflow: hidden;
        position: relative;
        border: solid 5px #13181F;
        width: 40vw;
        height: 20vh;
        margin-left: 2rem;
    }
}