.arme{
    position: relative;
    width: 200px;
    overflow: hidden;
    & img{
        width: 100%;
    }
    &__titulo{
        font-size: 1rem;
        font-weight: 700;
        color: $accent;
        text-decoration: none;
        padding-left: 0.1rem;
        display: block;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    &__texto{
        font-size: 1rem;
        font-weight: 700;
        color: $accent;
        text-decoration: none;
        padding-left: 0.1rem;
        display: block;
        padding-top: 1%;
        padding-bottom: 1%;
    }
}


.modal{
    &__titulo{
        font-size: 1.5rem;
    }
    &__texto{
        font-size: 1rem;
        padding-top: 40px;
    }

}
.section--me .btn{
    margin-top: 10px;
}

@media (max-width:767px){
    header{
        margin: 0;
        font-size: 1rem;
    }
}
