.navbar-nav .active a { 
    color: #B8D9D3 !important ; 
}

.nav-link{
    color: #ffffff !important;
}

.navbar-brand{
    color: #ffffff !important;
}

.bg-nav {
    --bs-bg-opacity: 1;
    background-color: #13181F;
  }


.navbar-toggler{
    border: #B8D9D3 solid;
}
